/*base font family*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap'); 

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-outfit font-light text-base-15
  }
}
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #161D2F inset !important;
    -webkit-text-fill-color: #fff !important;
  }
